<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span><p>Navigation</p>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{{ url('home') }}"    title="Accueil">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('posts') }}"   title="Touts les chapitres">Chapitres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('aboutme') }}"   title="Qui suis je ?">Qui suis je ?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('contact') }}" title="Me contacter">Contact</a>
            </li>

        {% if session.user.status == "2" %}
        <!-- ..... ..... Si l'utilisateur est un admin ..... ..... -->

            <li class="nav-item">
                <a class="nav-link" href="{{ url('administration') }}" title="Administration">Administration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('user!logout') }}"         title="Déconnexion">Déconnexion</a>
            </li>

        {% elseif session.user.status == "1" %}
        <!-- ..... ..... Si l'utilisateur est un membre ..... ..... -->

            <li class="nav-item">
                <a class="nav-link" href="{{ url('user!modify') }}" title="Mon compte">Mon compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('user!logout') }}" title="Déconnexion">Déconnexion</a>
            </li>

        {% else %}
        <!-- ..... ..... visiteur ou utilisateur par défaut ..... ..... -->

            <li class="nav-item">
                <a class="nav-link" href="{{ url('user') }}" title="Connexion">Connexion</a>
            </li>

        {% endif %}

    </ul>
</div>
