<nav>

    <ul>

        {% if session.users is defined and session.users == "1" %}
        <!-- ..... ..... Si l'utilisateur est un admin ..... ..... -->

            <li>
                <a href="{{ url("home") }}"             title="Accueil">Accueil</a>
            </li>
            <li>
                <a href="{{ url("posts") }}"            title="Touts les chapitres">Chapitres</a>
            </li>
            <li>
                <a href="{{ url("administration") }}"   title="Administration">Administration</a>
            <li>
            <li>
                <a href="{{ url("connexion!logout") }}" title="Déconnexion">Déconnexion</a>
            </li>

        {% elseif session.users is defined and session.users == "0" %}
        <!-- ..... ..... Si l'utilisateur est un membre ..... ..... -->

            <li>
                <a href="{{ url("home") }}"             title="Accueil">Accueil</a>
            </li>
            <li>
                <a href="{{ url("posts") }}"            title="Touts les chapitres">Chapitres</a>
            </li>
            <li>
                <a href="{{ url("contact") }}"          title="Me contacter">Contact</a>
            </li>
            <li>
                <a href="{{ url("compte") }}"           title="Mon compte">Mon compte</a>
            </li>
            <li>
                <a href="{{ url("connexion!logout") }}" title="Déconnexion">Déconnexion</a>
            </li>

        {% else %}
        <!-- ..... ..... visiteur ou utilisateur par défaut ..... ..... -->

            <li>
                <a href="{{ url("home") }}"             title="Accueil">Accueil</a>
            </li>
            <li>
                <a href="{{ url("posts") }}"            title="Touts les chapitres">Chapitres</a>
            </li>
            <li>
                <a href="{{ url("contact") }}"          title="Me contacter">Contact</a>
            </li>
            <li>
                <a href="{{ url("connexion") }}"        title="Connexion">Connexion</a>
            </li>

        {% endif %}

    </ul>

</nav>