{% extends "layout/layout.twig" %}

{% block title %}

    Administration

{% endblock %}

{% block header %}

    <h1 class="mg-y hight-margin text-center text-underline">Panneau d'administration</h1>

{% endblock %}

{% block content %}

    <section class="container text-center hight-margin-b border border-secondary rounded-lg shadow-lg">

        <ul class="list-group list-group-flush container">

            <li class="list-group-item p-5">
                <h3> Créer un nouveau chapitre</h3>
                <a href="{{ url('posts!create') }}">Créer un chapitre</a>
            </li>

            <li class="list-group-item p-5">
                <h3>Modifier un chapitre</h3>
                <ul class="list-group list-group-flush container">

                    {% for chapter in chapters %}

                        <li class="list-group-item text-left col-6 offset-3">
                            <a href="{{ url('posts!modify', {'id': chapter.id}) }}">{{ chapter.title }}</a>
                        </li>

                    {% endfor %}

                </ul>
            </li>

            <li class="list-group-item p-5">
                <h3>Supprimer un chapitre</h3>
                <form class="form-group" action="{{ url('posts!delete') }}" method="post">

                    <div class="form-group col-6 offset-3">
                        <label for="chapterSelect" class="mb-2">Chapitre à supprimer</label>
                        <select id="chapterSelect" name="chapterSelect" class="form-control mt-1 mb-3">
                        {% for chapter in chapters %}

                            <option>
                                {{ chapter.title }}
                            </option>

                        {% endfor %}
                        </select>

                    <p class="border border-danger rounded-lg text-danger p-2">Attention, action irréversible alors soyez sur de votre choix!</p>
                    <button type="submit" class="btn btn-outline-primary mt-3">Supprimer le chapitre</button>
                </form>
            </li>

            <li class="list-group-item p-5">
                <h3><a href="{{ url('comments!admin') }}">Gérer les commentaires signalés</a></h3>

                {% if nbrReported > 0 %}

                    <p>Il y a actuellement {{ nbrReported }} commentaires signalés !</p>

                {% else %}

                    <p>Il n'y a pas de commentaire signalé !</p>

                {% endif %}
            </li>

        </ul>

    </section>

{% endblock %}