{% extends "layout/layout.twig" %}

{% block title %} {{ post.title }} {% endblock %}

{% block header %}

    <pre>
        {{ dump(post) }}
    </pre>

    <h1 class="mg-y text-center text-underline">Lecture du {{ post.title }}</h1>

{% endblock %}

{% block content %}

        <article class="container border border-primary rounded-lg">

            <div class="container">

                <p>{{ post.content|nl2br }}</p>

            </div>

            <div class="container mt-5">

                {% if users.admin is not null and users.admin is not empty and users.admin >= 0 %}

                    <section class="container">

                        <h3 class="text-center text-underline">Ajouter un commentaire</h3>

                        <form action="{{ url('comments!create', {'id':post.id}) }}" method="post">

                            <div class="form-group">

                                <label for="create-Comment" class="col-sm-1 col-form-label">Commentaire</label>
                                <div class="col-sm-5">
                                    <textarea id="create-Comment" name="create-Comment" rows="8" cols="80"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Envoyer</button>

                            </div>

                        </form>

                    </section>
                {% endif %}

                <section class="container mt-5">

                    <pre>
                        {{ dump(comments) }}
                    </pre>

                    <div class="col-3 offset-4">

                        <ul class="list-group list-group-flush">

                            {% for comment in comments %}

                                {% if comment.reported == 1 %}
                                    <!-- Si le commentaire est pinger "reported" on ne l'affiche pas -->

                                {% endif %}

                                <li class="list-group-item">

                                    <p>

                                        Écrit par {{ user.pseudo }}, le {{ comment.created_date }} :<br>
                                        {{ comment.content|nl2br }}

                                    </p>

                            {% endfor %}
                        
                        </ul>

                    </div>

                </section>

            </div> 

        </article>

        <h4 class="container mt-3">
            <a href="{{ url('allposts') }}">Retour à la sélection de chapitre</a>
        </h4>

{% endblock %}