{% extends "layout/layout.twig" %}

{% block title %} {{ chapter.title }} {% endblock %}

{% block header %}

    <h1 class="mg-y text-center text-underline">Lecture du {{ chapter.title }}</h1>

{% endblock %}

{% block content %}

        <article class="container border border-primary rounded-lg bg-my-lightblue">

            <div class="container">

                <p class="pt-3">{{ chapter.content|nl2br }}</p>

                <a class="btn btn-primary mt-3" href="{{ url('posts!modify', {'id': post.id}) }}">Modifier le chapitre</a>

            </div>

            <div class="container mt-5">

                {% if users.admin is not null and users.admin is not empty and users.admin >= 0 %}

                    <section class="container">

                        <h3 class="text-center text-underline">Ajouter un commentaire</h3>

                        <form action="{{ url('comments!create', {'id':chapter.id}) }}" method="post">

                            <div class="form-group">

                                <label for="create-Comment" class="col-sm-1 col-form-label">Commentaire</label>
                                <div class="col-sm-5">
                                    <textarea id="create-Comment" name="create-Comment" rows="8" cols="80"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Envoyer</button>

                            </div>

                        </form>

                    </section>

                {% endif %}

            </div> 

        </article>

        <section class="container mt-3">

            <div class="col-6 offset-2">

                <ul class="list-group list-group-flush">

                    {% for comment in chapter.comments|reverse %}

                        {% if comment.reported >= 1 %}
                            <!-- Si le commentaire est pinger "reported" on l'affiche comme signalé -->
                            <li class="list-group-item">
                                <p> Commentaire signalé ! </p>
                            </li>

                        {% else %}
                            <li class="list-group-item">

                                <div class="container">
                                    <p>
                                        Écrit par {% for author in chapter.comments_authors %}

                                                    {% if comment.user_id == author.id %}
                                                        {{ author.pseudo }}
                                                    {% endif %}

                                                  {% endfor %}, le {{ comment.created_date|date("d/m/Y à h:m") }} :<br>
                                        {{ comment.content|nl2br }}
                                    </p>
                                    <a class="btn btn-outline-danger btn-sm offset-10" href="{{ url('comments!report', {'id': comment.id, 'chapter_id': chapter.id})}}">
                                        Signaler
                                    </a>

                                </div>
                            </li>
                        {% endif %}

                    {% endfor %}

                </ul>

            </div>

        </section>

        <h4 class="container mt-3">
            <a href="{{ url('posts') }}">Retour à la sélection de chapitre</a>
        </h4>
{% endblock %}